<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Поддержка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="parts/header :: header"></header>

<div class="text-center container mt-5">
    <h5>Немного о LazyBrothers</h5>
    <p>
        Меня зовут Максим! <br>
        Я инженер по образованию, имеею десятилетний опыт работы по специальности приборостроения и мехобработки. <br>
        Сейчас тружусь Java-разработчиком и создаю CRM систему. <br>
        Буду рады помочь со всеми возникшими у Вас проблемами и вопросами! <br>
        Смело обращайтесь! =)
    </p> <br><br>

        <h6>Для связи</h6>
        <i>Почта: <a href="mailto:m_isaenkov@gmail.com">m_isaenkov@gmail.com</a></i> <br>
        <i>Телефон: <a href="tel:+79215997209">+79215997209</a></i> <br><br>

</div>

<div th:insert="parts/footer :: footer"></div>

</body>
</html>