<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="parts/header :: header"></header>

<div class="text-center container mt-5">
    <h4 th:text="${greeting}"></h4>
    <h4>Добро пожаловать в LazyBrothersCRM!</h4>
    <div class="mt-3">
        <b>Сегодня</b>
        <p><b th:text="${date}"/></p>
    </div>
    <div class="mt-3">
        <b>Сейчас</b>
        <p><b th:text="${time}"/></p>
    </div>
    <div class="mt-3">
        <p> И у нас <b th:text="${action}"/></p>
    </div>

    <a sec:authorize="isAnonymous()" class="btn btn-primary mt-3" aria-current="page" href="/task">Начать работу</a>

</div>

<div th:insert="parts/footer :: footer"></div>

</body>
</html>