<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Оборудование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="parts/header :: header"></header>

<div class="text-center container mt-3">

    <h5>Оборудование для выбора</h5>
    <br>
    <form method="get">
        <label for="filter_process" class="col-lg-2 col-form-label">Вид обработки: </label>
        <select id="filter_process" name="filter_process">
            <option></option>
            <option th:each="process : ${processing}" th:value="${process}" th:text="${process}"></option>
        </select>
        <button type="submit" class="btn btn-primary ml-3">Отфильтровать</button>
    </form>

    <table class="table table-bordered mt-3">

        <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Вид обработки</th>
            <th scope="col">Расход по оси X</th>
            <th scope="col">Расход по оси Y</th>
            <th scope="col">Расход по оси Z</th>
            <th scope="col">Состояние</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="mech : ${machines}">

            <td th:text="${mech.title}"/>

            <td th:text="${mech.processing}"/>

            <td th:text="${mech.xAxis}"/>

            <td th:text="${mech.yAxis}"/>

            <td th:text="${mech.zAxis}"/>

            <td th:text="${mech.state}"/>

            <td>
                <form th:action="'/task/' + ${task.id} + '/machines/add/' + ${mech.id} + '/add'" method="post">
                    <button class="btn btn-primary mt-2" type="submit">Добавить</button>
                </form>
            </td>

        </tr>
        </tbody>

    </table>

    <br>

    <a th:href="'/task/' + ${task.id} + '/machines'">Назад</a>

</div>

<div th:insert="parts/footer :: footer"></div>

</body>
</html>