<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новая задача</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="parts/header :: header"></header>

<div class="container mt-3 ">

    <h3 class="text-center container ">Добавить новую задачу</h3>

    <br>

    <form  method="post" th:action="@{/task/add}" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="title" class="col-lg-2 col-form-label">Наименование: </label>
            <input id="title" name="title" class="col-lg-6" type="text"  placeholder="Наименование детали">
        </div>
        <div class="form-group row">
            <label for="initialize_date" class="col-lg-2 col-form-label">Дата запуска: </label>
            <input class="col-lg-6" id="initialize_date" name="initialize_date" type="date">
        </div>
        <div class="form-group row">
            <label for="finalize_date" class="col-lg-2 col-form-label">Дата сдачи: </label>
            <input class="col-lg-6" id="finalize_date" name="finalize_date" type="date">
        </div>
        <div class="form-group row">
            <label for="count" class="col-lg-2 col-form-label">Кол-во: </label>
            <input class="col-lg-6" id="count" name="count" type="text" placeholder="Количество">
        </div>
        <div class="form-group row">
            <label for="comments" class="col-lg-2 col-form-label">Комментарии: </label>
            <input id="comments" name="comments" class="col-lg-6" type="text"  placeholder="Комментарии">
        </div>
        <div class="text-center container">
                <input type="file" name="file" id="customFile">  <!--   прикрепление картинки к сообщению    -->
        </div>
        <br>
        <div><input type="submit" value="Добавить задание"></div>
    </form>

</div>

<div th:insert="parts/footer :: footer"></div>

</body>
</html>